<div class="content-container">
    <!-- Section 1: Recent Posts -->
    <div class="recent-posts">
      <h2 class="section-title">Postes récents</h2>
      <ul class="posts-list">
        <li class="post-item">
          <img
            src="https://dx5i3n065oxey.cloudfront.net/platform/50152/job/thumb/84553ab6-75de-4302-b7cc-7a21a23db5bf.png"
            alt="Post Image"
          />
          <div>
            <a href="https://emsicommunity.com/jobs/1093" target="_blank" class="post-title">Offre de stage PFE IIR</a>
            <p class="post-company">Dropteam</p>
          </div>
        </li>
        <li class="post-item">
          <img
            src="https://dx5i3n065oxey.cloudfront.net/platform/50152/job/thumb/0622b3b0-7cf3-409d-bcb4-bb071a0e081b.jpeg"
            alt="Post Image"
          />
          <div>
            <a href="https://emsicommunity.com/jobs/1091"  target="_blank" class="post-title">Stage PFE pour IIR</a>
            <p class="post-company">Marketing Confort</p>
          </div>
        </li>
        <li class="post-item">
          <img
            src="https://dx5i3n065oxey.cloudfront.net/platform/50152/job/thumb/b545c4ae-3bd4-4ff6-9d34-72bbd9de6cb7.png"
            alt="Post Image"
          />
          <div>
            <a href="https://emsicommunity.com/jobs/1090" target="_blank" class="post-title">Stage PFE IIR</a>
            <p class="post-company">NTTDATA</p>
          </div>
        </li>
      </ul>
      <a href="https://emsicommunity.com/jobs" target="_blank" class="view-more">Afficher les postes</a>
    </div>
  
    <!-- Section 2: Events -->
    <div class="events">
      <h2 class="section-title">Événements</h2>
      <div class="event-card">
        <img
          src="https://dx5i3n065oxey.cloudfront.net/platform/50152/news-widget/thumb/6ba70c32-453f-4013-8336-40d458aea466.jpg"
          alt="Event Image"
        />
        <div class="event-info">
          <h3>Global Town Hall 2021, CASABLANCA</h3>
          <p>
            You are invited to the biggest grassroots International Relations
            event of the year!
          </p>
          <a href="/event-details" class="event-register">S'INSCRIRE</a>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Section 3: Online Users -->
  <div class="online-users-section">
    <div class="online-users-header">
      <p>
        <span class="online-indicator"></span>
        <strong>See who's on the platform</strong> 
      </p>
    </div>
    <div class="online-users-carousel">
      <div class="user-avatar">
        <img
          src="https://dx5i3n065oxey.cloudfront.net/platform/50152/user/thumb/8a8ce021-c0d9-4243-96b4-c380b86903a4.jpg"
          alt="User"
        />
        <span class="status-dot online"></span>
      </div>
      <div class="user-avatar">
        <img
          src="https://dx5i3n065oxey.cloudfront.net/platform/50152/user/thumb/ee330068-4f58-49d2-9f60-c46b2b210ef3.jpg"
          alt="User"
        />
        <span class="status-dot online"></span>
      </div>
      <div class="user-avatar">
        <img
          src="https://dx5i3n065oxey.cloudfront.net/platform/50152/user/thumb/5d1588f0-3e44-4b4c-b98c-ecbfc3b33f2b.jpg"
          alt="User"
        />
        <span class="status-dot away"></span>
      </div>
      <div class="user-avatar">
        <img
          src="https://dx5i3n065oxey.cloudfront.net/platform/50152/user/thumb/20bae33f-9403-42a3-b7d0-2edbbded37c1.jpg"
          alt="User"
        />
        <span class="status-dot online"></span>
      </div>
      <div class="user-avatar">
        <img
          src="https://dx5i3n065oxey.cloudfront.net/platform/50152/user/thumb/257a8c48-6682-4326-ab01-de02b5229a55.jpg"
          alt="User"
        />
        <span class="status-dot online"></span>
      </div>
      <div class="user-avatar">
        <img
          src="https://dx5i3n065oxey.cloudfront.net/platform/50152/user/thumb/80fbc2aa-d374-48f8-8b16-4f2c7247e7b8.jpg"
          alt="User"
        />
        <span class="status-dot online"></span>
      </div>
      <div class="user-avatar">
        <img
          src="https://dx5i3n065oxey.cloudfront.net/platform/50152/user/thumb/75877972-077c-4894-8ee5-b11f4e718c08.jpg"
          alt="User"
        />
        <span class="status-dot online"></span>
      </div>
      <div class="user-avatar">
        <img
          src="https://dx5i3n065oxey.cloudfront.net/platform/50152/user/thumb/cb95cf62-6173-49ee-9582-52ab0ab314ad.jpg"
          alt="User"
        />
        <span class="status-dot online"></span>
      </div>
      <div class="user-avatar">
        <img
          src="https://dx5i3n065oxey.cloudfront.net/platform/50152/user/thumb/b4bd5cdb-c3dd-4f51-b1e9-d869b2ece886.jpg"
          alt="User"
        />
        <span class="status-dot online"></span>
      </div>
      <div class="user-avatar">
        <img
          src="https://dx5i3n065oxey.cloudfront.net/global/user-icon.svg"
          alt="User"
        />
        <span class="status-dot online"></span>
      </div>
      <div class="user-avatar">
        <img
          src="https://dx5i3n065oxey.cloudfront.net/platform/50152/user/thumb/d699a64f-3458-4be9-a48f-a2ce61d573e0.jpeg"
          alt="User"
        />
        <span class="status-dot online"></span>
      </div>
      <div class="user-avatar">
        <img
          src="https://dx5i3n065oxey.cloudfront.net/platform/50152/user/thumb/0ac08ce3-05e8-4285-82e9-9a6912eba7bc.jpg"
          alt="User"
        />
        <span class="status-dot online"></span>
      </div>
      <div class="user-avatar">
        <img
          src="https://dx5i3n065oxey.cloudfront.net/platform/50152/user/thumb/6f5e3764-4edc-4801-9001-3970bb51b0aa.jpg"
          alt="User"
        />
        <span class="status-dot online"></span>
      </div>
      <div class="user-avatar">
        <img
          src="https://dx5i3n065oxey.cloudfront.net/platform/50152/user/thumb/e425d157-2a8c-430a-8493-7e95e2664d61.jpg"
          alt="User"
        />
        <span class="status-dot online"></span>
      </div>
      <div class="user-avatar">
        <img
          src="https://dx5i3n065oxey.cloudfront.net/platform/50152/user/thumb/5efcc6ac-a160-4519-884e-651c4eab905d.JPG"
          alt="User"
        />
        <span class="status-dot online"></span>
      </div>
      <div class="user-avatar">
        <img
          src="https://dx5i3n065oxey.cloudfront.net/platform/50152/user/thumb/c2269b54-1bd3-469f-b96b-a7ea5bab851d.jpg"
          alt="User"
        />
        <span class="status-dot online"></span>
      </div>
      <div class="user-avatar">
        <img
          src="https://dx5i3n065oxey.cloudfront.net/platform/50152/user/thumb/44fef9ba-9db0-46e9-a64e-96f4a9065aa7.jpg"
          alt="User"
        />
        <span class="status-dot online"></span>
      </div>
    
      
       <div class="user-avatar">
        <img
          src="https://dx5i3n065oxey.cloudfront.net/platform/50152/feed/original/354970a4-d565-4291-bbc1-6525ab8705c0.jpg"
          alt="User"
        />
        <span class="status-dot online"></span>
      </div> 
    </div>
  </div>