/* Main container to handle the layout */
.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

}

.header {
  background-color: #329f5e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
  position: sticky; /* Make the header sticky */
  top: 0; /* Stick to the top of the viewport */
  z-index: 10; /* Ensure it stays above other elements */
  margin-left: 10px;
  margin-right: 10px;
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header .header-actions button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
}

/* Content container to position the sidebar and main content */
.content-container {
  display: flex;
  flex: 1;
  margin-right: 10px;
  
}

.sidebar {
  width: 250px;
  background-color: whitesmoke;
  margin-left: 10px;
  color: 4D4D4D;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 90%;
  border-radius: 10px;
  position: sticky; 
  top: calc(84px + 38px); 
  margin-left: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;

}

.sidebar li:hover {
  background-color: lightgreen;
  border-radius: 5px;
  color: white;
}

.sidebar img {
  width: 30px;
  height: 30px;
}

/* Main content area */
.content-area {
  flex: 1;
  background-color: whitesmoke;
  padding: 1rem;
  /* background-color: #434c5e; */
  margin-left: 10px;
  border-radius: 14px;
  height: 74vh;

}



/* User Section at the Bottom of Sidebar */
.user-section {
  margin-top: auto; 
  display: flex;
  align-items: center;
  gap: 15px; /* Space between image and text */
  /* padding: 15px 10px; */
  border-top: 2px solid #434c5e; /* Separator line */
  height: 50px;

}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  object-fit: cover;
  border: 2px solid white;
}

.user-details {
  display: flex;
  flex-direction: column; /* Stack lastname and role vertically */
  /* background-color: red;  */
}

.user-lastname {
  font-size: 0.9rem;
  font-weight: bold;
  color: 4D4D4D;
  margin-bottom: 2px; /* Reduce the spacing between lastname and role */
}

.user-role {
  font-size: 0.8rem;
  color: #7f7f7f; /* Subtle gray for the role text */
  margin-top: 0; /* Ensure no extra spacing above the role */
}