<div class="course-container">
  <div *ngIf="(courses$ | async) as courses; else loading" class="course-list">
    <div *ngIf="courses.length > 0; else noCourses">
      <div *ngFor="let course of courses" class="course-item">
        <!-- Left: Teacher Details -->
        <div class="teacher-details">
          <img src="https://emsicommunity.com/assets/tmp/explore-resources.svg" alt="" />
        </div>

        <!-- Middle: Course Details -->
        <div class="course-info">
          <h3>{{ course.name }}  
          
          </h3>
          <p>{{ course.description }} 
            <br>
            <sub style="color: #a2bd8c;">
              published by : {{ course.teacherlastname }}
              </sub>
          </p>
    
        </div>

        <!-- Right: Download Icon -->
        <div class="course-actions">
          <button class="download-btn" (click)="downloadFile(course.link)">
            <img src="images/download.png" alt="Download Icon" />
          </button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <p>Loading courses...</p>
  </ng-template>

  <ng-template #noCourses>
    <p>No courses available.</p>
  </ng-template>
</div>