.course-container {
  max-height: 70vh;
  overflow-y: auto; /* Enable scrolling */
  padding-right: 0.5rem; /* Add padding for better alignment */
  margin-right: 1rem; /* Adjust spacing with other elements */
}

.course-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 8px;
}

.course-item {
  display: flex;
  align-items: center; /* Align items horizontally */
  justify-content: space-between;
  padding: 1rem;
  /* background-color: #4c566a; */
  border-radius: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  height: 100px;
}

.teacher-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  margin-right: 30px;
  padding: 5px;
  border-radius: 5px;
}

.teacher-details img {
  width: 80px;
  height: 80px;
  padding: 10px;
  border-right: 1px solid black;
}

.course-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to the top */
  /* margin-left: 1rem; */
  margin-right: 1rem;
  /* background-color: #64728b; */
  padding: 0.5rem;
  border-radius: 10px;
}

.course-info h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #8fbcbb;
}

.course-info p {
  margin: 0.2rem 0;
  font-size: 0.9rem;
  color: black;
}

.course-info small {
  margin-top: 0.5rem; /* Add spacing between description and published by text */
  font-size: 0.8rem;
  color: #ffffff; /* Keep the text white */
}

.course-actions {
  display: flex;
  align-items: center;
}

.download-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.download-btn:hover {
  background-color: #f0f0f0;
}

.download-btn img {
  width: 40px;
  height: 40px;
  padding-top: 10px;
}